<table>
    <thead>
        <tr>
            <th style="width: 10%;" rowspan="2">Forecast 2020</th>
            <th style="width: 10%;" rowspan="2">Plan 2021</th>
            <th style="width: 10%;" rowspan="2" class="actual">Presupuesto 2021</th>
            <th style="width: 30%;" rowspan="2">Centro de costos</th>
            <td style="width: 20%;" colspan="2">Cambio Vs. Plan 2021</td>
            <td style="width: 20%;" colspan="2">Cambio Vs Forecast 2020</td>
        </tr>
        <tr>
            <td style="width: 10%;">$</td>
            <td style="width: 10%;">%</td>
            <td style="width: 10%;">$</td>
            <td style="width: 10%;">%</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of infproc">
            <td [ngClass]="{'negativo': item.forecast<0}">{{item.forecast | number:'1.1-1'}}</td>
            <td [ngClass]="{'negativo': item.anioAnt<0}">{{item.anioAnt | number:'1.1-1'}}</td>
            <td [ngClass]="{'negativo': item.actual<0}" class="actual">{{item.actual | number:'1.1-1'}}</td>
            <td class="cecos">
                <span (click)="ejecucion(item.idCeco)" *ngIf="item.idCeco.toString().length>=6"
                    style="cursor: pointer;">[+]</span>
                {{item.CECO}}
            </td>
            <td [ngClass]="{'negativo': (item.anioAnt-item.actual)<0}">
                {{calculo(item.actual,item.anioAnt)}}
            </td>
            <td [ngClass]="{'negativo': (item.anioAnt-item.actual)<0}">
                {{calculo(item.actual,item.anioAnt)}}
                {{calculoPorcentaje(item.actual,item.anioAnt)}}
            </td>
            <td [ngClass]="{'negativo': (item.forecast-item.actual)<0}">
                {{calculo(item.actual,item.forecast)}}
            </td>
            <td [ngClass]="{'negativo': (item.forecast-item.actual)<0}">
                <span *ngIf="(item.forecast-item.actual)<0">(</span>
                {{(((item.forecast-item.actual)/item.forecast)) | percent:'1.1-1'}}
                <span *ngIf="(item.forecast-item.actual)<0">)</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>41653</td>
            <td>53421</td>
            <td class="actual">54770</td>
            <td class="cecos">[+]Mexico</td>
            <td>(1349)</td>
            <td>2.5%</td>
            <td>(13117)</td>
            <td>2.5%</td>
        </tr>
    </tfoot>
</table>